.feed {
  flex: 0.6;
  margin: 0 20px;
  overflow-y: scroll;
  scrollbar-width: 0;
}
.feed__inputContainer {
  background-color: #fff;
  padding: 0.62rem;
  padding-bottom: 1.2rem;
  border-radius: 10px;
  margin-bottom: 1.2rem;
}
.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 0.62rem;
  padding-left: 1rem;
}
.feed__input > form {
  display: flex;
  width: 100%;
}
.feed__input > form > input {
  border: none;
  outline: none;
  flex: 1;
  margin-left: 0.62rem;
  font-weight: 600;
}
.feed__input > form > button {
  display: none;
}
.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
  .feed {
    flex: 1;
    margin: 0;
    margin-bottom: 75px;
  }
}
