.logo__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-color: #f3f2ef;
}
.app__main {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .app__main {
    margin-top: 1px;
  }
}
